<p-menubar [model]="items1">
  <input type="text" pInputText placeholder="Search">
  <button pButton label="Logout" icon="fa-sign-out" (click)="onLogOutButtonClick()"></button>
</p-menubar>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p-menu [model]="items"> </p-menu>
<p-accordion>
  <p-accordionTab header="header1">
    Content1
  </p-accordionTab>
  <p-accordionTab header="header2">
    Content2
  </p-accordionTab>
  <p-accordionTab header="header3">
    Content3
  </p-accordionTab>
</p-accordion>


